.tree-card {
  height: 55vh;
  width: 20vw;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}

img {
  height: 200px;
  width: auto;
  padding: 10px;
}
